/*Final Css*/
@font-face {
    font-family: "Title";
    src:url("../animation/SuisseIntl-Bold.ttf") format("truetype") 
  }
.BigTit {
    font-size: 3.0rem;
    font-weight: 500;
    font-family: 'Red Hat Display', sans-serif;
    margin-bottom: 0;
    text-align: left;
    line-height: 2.8rem;
}

.BorBlkTB1 {
    border-top: 1px solid #a29d9d;
    border-bottom: 1px solid #a29d9d;
}

.BorBlkT1 {
    border-top: 1px solid #a29d9d;
}

.BorDBlkT1 {
    border-top: 1px solid #000;
}

.BorBlkB1 {
    border-bottom: 1px solid #a29d9d;
}

.BorBlkL1 {
    border-left: 1px solid #a29d9d;
}

.BorBlkR1 {
    border-right: 1px solid #a29d9d;
}

.BorDBlkR1 {
    border-right: 1px solid #000;
}

.BorBlkLR1 {
    border-left: 1px solid #a29d9d;
    border-right: 1px solid #a29d9d;
}

.BorBlk1 {
    border: 1px solid #a29d9d;
}

.colorG {
    color: #008b47 !important;
}

.colorBlue {
    color: #00A7E5 !important;
}

.BorRBMBB {
    border-right: 1px solid #a29d9d;
}

.borblkDNMB {
    border-bottom: 0px solid #a29d9d;
}

@media(max-width:1367px) {
    .BigTit {
        font-size: 2.6rem;
        line-height: 2.4rem;
    }
}

@media(max-width:1025px) {
    .BigTit {
        font-size: 2.0rem;
        line-height: 2.0rem;
    }
    .count-title {
        font-size: 3rem !important;
    }
    .count-text {
        font-size: 23px !important;
    }
}

@media(max-width:550px) {
    .topP60M20 {
        padding-top: 20px !important;
    }
    .borblkDNMB {
        padding-bottom: 30px;
        border-bottom: 1px solid #a29d9d;
    }
    .BorRBMBB {
        border-right: 0px solid #a29d9d;
    }
}

/***************************************/

/* carousel Slider */

.carousel-indicators li {
    width: 7px !important;
    height: 7px !important;
    margin: 1px 7px !important;
    border-radius: 0px !important;
    border: 0px solid #fff !important;
    background-color: #fff !important;
    opacity: 1 !important;
}

.carousel-caption {
    position: absolute;
    right: 4% !important;
    bottom: 20px;
    left: 15%;
    z-index: 10;
    padding-top: 20px;
    padding-bottom: 20px;
    color: #fff;
    text-align: right !important;
}

.carousel-indicators .active {
    background-color: #008b47 !important;
}

.carousel-inner>.carousel-item {
    -webkit-transition: -webkit-transform 1.2s ease-in-out !important;
    -o-transition: -o-transform 1.2s ease-in-out !important;
    transition: transform 1.2s ease-in-out !important;
}

.list-group-item {
    padding: 5px 0px !important;
    background-color: rgb(255, 255, 255, 0) !important;
    border: 0px solid rgba(0, 0, 0, .125) !important;
    color: #fff !important;
    font-family: 'Red Hat Display', sans-serif !important;
    font-style: italic !important;
    font-weight: 400 !important;
    font-size: 1.0rem !important;
    line-height: 1.2;
    letter-spacing: 1px;
    transition: width 2s;
    width: 100%;
    cursor: pointer;
}

/* ********************************************* */

.transactionTimingFunction {
    transition-timing-function: ease-in;
}

.list-group {
    padding-bottom: 15px;
}

.box {
    width: 0px;
    height: 0px;
    background: #FFFF00;
    border: 1px solid #FFFF00;
    position: absolute;
    top: 19px;
}

.image {
    width: 100% !important;
    height: auto !important;
}

.text {
    color: white;
    font-size: 20px;
    position: absolute;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    white-space: nowrap;
    width: 100%;
    margin-left: 2px;
    left: 10px;
}

#image {
    visibility: hidden;
}

.imagebox {
    margin-top: -1%;
    width: 1242px;
    margin-left: 42%;
}

/* Counter CSS */

.counter {
    padding: 60px 0;
    border-radius: 5px;
}

.count-title {
    font-family: 'Red Hat Display', sans-serif;
    font-weight: 500;
    color: #008b47;
    font-size: 5rem;
    line-height: 1;
    letter-spacing: -3px;
}

.count-footer-text {
    font-size: 18px;
    font-weight: 700;
    font-family: 'Red Hat Display', sans-serif;
    color: #008b47;
    margin-bottom: 0;
    text-align: left;
    line-height: 20px;
}

.count-footer-text1 {
    font-size: 15px;
    font-weight: 400;
    font-family: 'Red Hat Display', sans-serif;
    color: #000;
    margin-bottom: 0;
    text-align: left;
}

.count-text {
    font-size: 33px;
    font-weight: 500;
    font-family: 'Red Hat Display', sans-serif;
    /*color: #fff;*/
    margin-top: 10px;
    margin-bottom: 0;
    text-align: left;
    line-height: 25px;
}

@media(max-width:1025px) {
    .Iwidth20per {
        width: 30% !important;
    }
    .count-title,
    .count-footer-text,
    .count-footer-text1,
    .count-text {
        text-align: center;
    }
}

.colorW {
    color: #fff !important;
}

.bodytext {
    font-size: 15px;
    font-weight: 700;
    font-family: 'Red Hat Display', sans-serif;
    color: #000;
    margin-bottom: 0;
    text-align: left;
    line-height: 22px;
}

.fa-2x {
    margin: 0 auto;
    float: none;
    display: table;
    color: #4ad1e5;
}

/* ***************************** */

.titcol {
    padding: 5px 10px;
    color: #000;
}

.bwtocolor {
    -webkit-transition: all .2s ease-in-out;
    border: 1px solid #909090;
}

.bwtocolor:hover {
    /*border: 0px solid #909090 !important;*/
    -webkit-transform: scale(1.20);
}

/* **********Overlay Text*************** */

.imgcontainer {
    position: relative;
    text-align: center;
    color: white;
}

.imgcontainer1 {
    position: relative;
    text-align: center;
    color: white;
    background: black;
}

.imgcontainer1>img {
    object-fit: cover;
    opacity: 0.6;
}

/* Bottom left text */

.bottom-left {
    position: absolute;
    bottom: 8px;
    left: 16px;
}

/* Top right text */

.top-right {
    position: absolute;
    top: 8px;
    right: 16px;
}

/* Centered text */
.centered {
    position: absolute;
    top: 45%;
    left: 50%;
    width: 100%;
    transform: translate(-50%, -50%);
}
.smallimg{
    position: relative;
    width: 100%; 
    height: 300px;
    overflow: hidden;
}
.center-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    padding: 0 30px;
    width: 100%;
    color: rgb(0, 0, 0);
    font-weight: 600;
    z-index: 1;
}
.social-icons {
    position: relative;
    background-color: #008b48;
    width: 200px; /* Adjust width as needed */
    height: 200px; /* Adjust height as needed */
    overflow: hidden;
  }

  .social-icon {
    position: absolute;
    cursor: move;
  }
.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(148, 148, 148, 0.397); 
    z-index: 0; 
  }
.bottom-centered {
    position: absolute;
    left: 0%;
    bottom: 5%;
    width: 100%;
    color: #fff;
    font-family: 'Red Hat Display', sans-serif;
    text-transform: uppercase;
    text-align: center;
    font-size: 1.4rem;
    line-height: 30px;
    font-weight: 600;
    letter-spacing: 1.5px;
}

/* Top left text */

.top-left {
    position: absolute;
    top: 40px;
    left: 40px;
    font-size: 20px;
    font-weight: 500;
    font-family: 'Red Hat Display', sans-serif;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 5px;
}

.bottom-leftPlus {
    position: absolute;
    bottom: 40px;
    left: 40px;
    color: #fff;
    z-index: 2;
    cursor: pointer !important;
}

@media(max-width:1025px) {}

.RoundbuttonPlus {
    border: 0px solid white;
    background: #323032;
    width: 40px;
    padding: 1px 10px 5px;
    border-radius: 36px !important;
    color: #fff;
    transition: background 0.5s ease;
    height: 40px;
    outline: none;
    text-decoration: none;
    transition: 0.5s all ease-in-out;
}

.pointer {
    cursor: pointer !important;
}

/********************** Arrow ******************/

.bottom-RightArrow {
    position: absolute;
    bottom: 30px;
    right: 30px;
    color: #fff;
    z-index: 2;
    cursor: pointer;
}

.RoundbuttonArrow {
    border: 0px solid white;
    background: #323032;
    width: 40px;
    padding: 1px 10px 5px;
    border-radius: 36px !important;
    color: #fff;
    transition: background 0.5s ease;
    height: 40px;
    outline: none;
    text-decoration: none;
    transition: 0.5s all ease-in-out;
}

.Plusarrow {
    animation: 0.6s ease-in-out infinite;
}

#Plusarrow {
    transform: rotate(-45deg);
    transition: transform 0.8s ease-in-out;
    margin-left: 0px;
}

.bottom-RightArrow:hover .RoundbuttonArrow {
    font-weight: normal;
    background: #008B47;
    height: 40px;
    width: 40px;
    transition: 0.5s all ease-in-out;
    padding: 1px 10px 5px;
}

.bottom-RightArrow:hover #Plusarrow {
    transform: rotate(0deg);
    transition: 0.6s all ease-in-out;
}

@media(max-width:1025px) {
    .bottom-RightArrow {
        bottom: 10px !important;
        right: 10px !important;
    }
    .bottom-centered {
        font-size: 1.0rem;
    }
}

/**************************/

/**********************Left Arrow ******************/

.Leftitem {
    width: 50px;
    height: 35px;
    margin: 10px;
    position: relative;
    outline: none;
    text-decoration: none;
}

.bottom-LeftArrow {
    position: absolute;
    bottom: 20px;
    left: 20px;
    color: #fff;
    z-index: 2;
    cursor: pointer;
    color: #fff;
    font-family: 'Red Hat Display', sans-serif;
    text-transform: uppercase;
    text-align: left;
    font-size: 1.4rem;
    line-height: 25px;
    font-weight: 600;
}

.LeftRoundbuttonArrow {
    border: 0px solid white;
    background: #323032;
    width: 40px;
    padding: 1px 10px 5px;
    border-radius: 36px !important;
    color: #fff;
    transition: background 0.5s ease;
    height: 40px;
    outline: none;
    text-decoration: none;
    transition: 0.5s all ease-in-out;
}

.LeftPlusarrow {
    animation: 0.6s ease-in-out infinite;
}

#LeftPlusarrow {
    transform: rotate(-45deg);
    transition: transform 0.8s ease-in-out;
    margin-left: 0px;
}

.bottom-LeftArrow:hover .LeftRoundbuttonArrow {
    font-weight: normal;
    background: #008B47;
    height: 40px;
    width: 40px;
    transition: 0.5s all ease-in-out;
    padding: 1px 10px 5px;
}

.bottom-LeftArrow:hover #LeftPlusarrow {
    transform: rotate(0deg);
    transition: 0.6s all ease-in-out;
}

/**************************/

#Plus {
    transform: rotate(0deg);
    transition: transform 1.0s ease-in-out;
    margin-left: 0px;
}

.FontBlack {
    color: #000;
}

.tableTit {
    font-size: 22px;
    color: #008b48 !important;
    font-weight: 500;
    text-transform: capitalize;
}

.bottom-leftPlus:hover .RoundbuttonPlus {
    font-weight: normal;
    background: #008B47;
    height: 40px;
    width: 40px;
    transition: 0.5s all ease-in-out;
    padding: 1px 10px 5px;
}

.bottom-leftPlus:hover #Plus {
    transform: rotate(180deg);
    transition: 1.0s all ease-in-out;
}

#Plus {
    transform: rotate(0deg);
    transition: transform 1.0s ease-in-out;
    margin-left: 0px;
}

.Plus3 {
    animation: 1.0s ease-in-out infinite;
}

.top-leftnum {
    position: absolute;
    top: -50px;
    left: 20px;
    z-index: 9;
}

.top-icon-left {
    position: absolute;
    top: 70px;
    left: 40px;
    z-index: 9;
    text-align: left;
}

.top-leftnum>img {
    max-width: 60% !important;
}

.top-left-subtxt {
    position: absolute;
    top: 75px;
    left: 40px;
    width: 70%;
    font-size: 18px;
    font-weight: 400;
    font-family: 'Red Hat Display', sans-serif;
    color: #fff;
    margin-bottom: 0;
    text-align: left;
    line-height: 25px;
}

.bottom-left1 {
    position: absolute;
    bottom: 40px;
    left: 40px;
    color: #fff;
    font-family: 'Red Hat Display', sans-serif;
    text-transform: uppercase;
    text-align: left;
    font-size: 1.4rem;
    line-height: 30px;
    font-weight: 600;
}

.item1 {
    width: 50px;
    height: 50px;
    margin: 10px;
    position: relative;
    outline: none;
    text-decoration: none;
}

.Roundbutton1 {
    border: 0px solid white;
    background: #008B47;
    width: 50px;
    padding: 15px 14px 18px 19px;
    border-radius: 36px !important;
    color: #fff;
    transition: background 0.5s ease;
    height: 50px;
    outline: none;
    text-decoration: none;
    transition: 0.5s all ease-in-out;
}

.bottom-left1:hover .Roundbutton1 {
    font-weight: normal;
    background: #008B47;
    height: 60px;
    width: 60px;
    transition: 0.6s all ease-in-out;
    padding: 13px 14px 18px 16px;
}

.bottom-left1:hover #arrow1 {
    transform: rotate(0deg);
}

#arrow1 {
    transform: rotate(-45deg);
    transition: 0.5s all ease-in-out;
    margin-left: 0px;
}

.arrow4 {
    transform-origin: 0% 50%;
    animation: 0s ease-in-out infinite;
    transition: background 0.5s ease;
}

/* image in border */

.InnerBor {
    display: inline-block;
    position: relative;
}

.InnerBor:before {
    display: block;
    content: '';
    position: absolute;
    top: 20px;
    right: 20px;
    bottom: 20px;
    left: 20px;
    border: 1px solid white;
    z-index: 1;
}

/* image in border */

.InnerBorBlank {
    display: inline-block;
    position: relative;
}

.InnerBorBlank:before {
    display: block;
    content: '';
    position: absolute;
    top: 20px;
    right: 20px;
    bottom: 20px;
    left: 20px;
    border: 1px solid white;
    z-index: 1;
}

/*****************************/

/* Bottom right text */

.bottom-right {
    position: absolute;
    bottom: 40px;
    right: 40px;
    color: #fff;
}

.item {
    width: 40px;
    height: 40px;
    margin: 10px;
    position: relative;
    outline: none;
    text-decoration: none;
}

.Roundbutton {
    border: 0px solid white;
    background: #323032;
    width: 40px;
    padding: 15px 14px 18px 19px;
    border-radius: 36px !important;
    color: #fff;
    transition: background 0.5s ease;
    height: 40px;
    outline: none;
    text-decoration: none;
    transition: 0.5s all ease-in-out;
}

.smallimg img {
    width: 100%;
    transition: 0.5s all ease-in-out;
}

.smallimg:hover img {
    transform: scale(1.2);
}

.bottom-right:hover .Roundbutton {
    font-weight: normal;
    background: #008B47;
    height: 55px;
    width: 55px;
    transition: 0.5s all ease-in-out;
    padding: 13px 14px 18px 16px;
}

.bottom-right:hover #arrow {
    transform: rotate(0deg);
}

#arrow {
    transform: rotate(-45deg);
    transition: 0.5s all ease-in-out;
    margin-left: 0px;
}

.arrow3 {
    transform-origin: 0% 50%;
    animation: 0s ease-in-out infinite;
}

/*White Arrow*/

.bottom-rightW {
    position: absolute;
    bottom: 10px;
    right: 10px;
    color: #fff;
}

.itemW {
    width: 35px;
    height: 35px;
    margin: 5px;
    position: relative;
    outline: none;
    text-decoration: none;
}

.RoundbuttonW {
    border: 0px solid white;
    background: #323032;
    width: 35px;
    padding: 9px 7px 7px 12px;
    border-radius: 36px !important;
    color: #fff;
    transition: background 0.5s ease;
    height: 35px;
    outline: none;
    text-decoration: none;
    transition: 0.8s all ease-in-out;
}

.bottom-rightW:hover .RoundbuttonW {
    font-weight: normal;
    background: #008B47;
    height: 35px;
    width: 35px;
    transition: 0.8s all ease-in-out;
    padding: 0px 9px 2px 11px;
}

.bottom-rightW:hover #arrowW {
    transform: rotate(0deg);
}

#arrowW {
    transform: rotate(-45deg);
    transition: 0.5s all ease-in-out;
    margin-left: 0px;
}

.arrow3W {
    transform-origin: 0% 50%;
    animation: 0s ease-in-out infinite;
}

/**************************************************/

.videoTit {
    position: absolute;
    z-index: 999;
    top: 10px;
    left: 20px;
}

.container1 {
    position: relative;
    width: 100%;
}

.iconcontainer {
    position: relative;
    text-align: center;
    color: white;
    min-height: 450px;
}

/* *************************************** */

/* Ganesh Css */

.whiteheader {
    font-size: 3.0rem;
    font-weight: 500;
    font-family: 'Red Hat Display', sans-serif;
    color: #008B47;
    margin-bottom: 0;
    text-align: left;
}

@media(max-width:1025px) {
    .whiteheader {
        font-size: 2.1rem;
    }
}

ul {
    margin-bottom: 0rem !important;
    padding-inline-start: 18px !important;
}

ul li::marker {
    color: #7e7e7e !important;
}

.BlkMdTit {
    font-size: 22px;
    font-weight: 600;
    letter-spacing: 2px;
    line-height: 25px;
    color: #4D4D4D;
}

.BlkMdTit1 {
    font-size: 22px;
    font-weight: 500;
    letter-spacing: 0px;
    line-height: 25px;
    color: #4D4D4D;
}

.greenheader {
    font-size: 2.75rem;
    font-weight: 500;
    font-family: 'Red Hat Display', sans-serif;
    color: #008B47;
    margin-bottom: 0;
    text-align: left;
    line-height: 50px;
    line-height: 3rem;
}

.GreenCurve2rem {
    font-size: 1.5rem;
    font-family: 'Playfair Display', serif;
    color: #008b47;
    margin-bottom: 0;
    text-align: left;
    font-style: italic;
    font-weight: 700;
    line-height: 2.5rem;
}

.whitecurvheader {
    font-size: 4rem;
    font-weight: 400;
    font-family: 'Playfair Display', serif;
    color: #fff;
    margin-bottom: 0;
    text-align: left;
    font-style: italic;
}

@media(max-width:1025px) {
    .whitecurvheader {
        font-size: 2.6rem;
    }
    .top-left-subtxt {
        top: 55px;
        left: 20px;
        width: 86%;
    }
    .top-left {
        top: 20px;
        left: 20px;
    }
    .bottom-right {
        bottom: 5px;
        right: 20px;
    }
}

.Black16 {
    font-size: 16px;
    font-weight: 500;
    color: #242424;
}

.whi15 {
    font-size: 15px !important;
    font-weight: 500;
}

.whi16 {
    font-size: 16px;
    font-weight: 600;
    line-height: 20px;
}

.whi18 {
    font-size: 18px;
    font-weight: 600;
}

.whi22 {
    font-size: 22px;
    font-weight: 600;
}

.whi26 {
    font-size: 26px;
    font-weight: 600;
    line-height: 30px;
}

.letter2 {
    letter-spacing: 2px;
}

.letter1 {
    letter-spacing: 1px;
    word-spacing: 2px;
}

.letter0 {
    letter-spacing: 0px !important;
}

.colorB {
    color: #242424 !important;
}

.blackTit {
    font-size: 1.7rem;
    font-weight: 500;
    font-family: 'Red Hat Display', sans-serif;
    color: #242424;
    margin-bottom: 0;
    text-align: left;
}

.blackIconHead {
    font-size: 1.5rem;
    font-weight: 600;
    font-family: 'Red Hat Display', sans-serif;
    color: #242424;
    margin-bottom: 0;
    text-align: left;
    letter-spacing: 3px;
}

.top-left-Iconsubtxt {
    width: 70%;
    font-size: 18px;
    font-weight: 400;
    font-family: 'Red Hat Display', sans-serif;
    color: #242424;
    margin-bottom: 0;
    text-align: left;
    line-height: 25px;
}

.blackSmalltext {
    font-size: 12px;
    font-weight: 600;
    font-family: 'Red Hat Display', sans-serif;
    color: #242424;
    margin-bottom: 0;
    text-align: left;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.LBtext {
    font-size: 1.6rem;
    font-weight: 500;
    font-family: 'Red Hat Display', sans-serif;
    color: #242424;
    margin-bottom: 0;
    text-align: left;
}

@media(max-width:1025px) {
    .LBtext {
        font-size: 1rem;
    }
    .bgQuote {
        background-image: none !important;
        background-size: contain !important;
        padding-top: 30px !important;
        margin-top: -50px !important;
    }
}

.bgFabric {
    background-image: url(../images/Home/Fabrics.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.bgYarns {
    background-image: url(../images/Home/Yarns.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.bgFibres {
    background-image: url(../images/Home/Fibres.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.bgQuote {
    background-image: url(../images/Home/quote.svg);
    background-position: left;
    background-repeat: no-repeat;
    background-size: inherit;
    padding-top: 180px;
    margin-top: -150px;
}

.bgYarnsBack {
    background-image: url(../images/Businesses/Yarns/Background.png);
    background-position: top left;
    background-repeat: no-repeat;
    background-size: contain;
}

.bgCredoBack {
    background-image: url(../images/About-us/Credo/Background.png);
    background-position: top left;
    background-repeat: no-repeat;
    background-size: contain;
}

.bgGarmentsBack {
    background-image: url(../images/Businesses/Garments/Background.png);
    background-position: top left;
    background-repeat: no-repeat;
    background-size: contain;
}

#carousel2 {
    bottom: -50px;
}

section {
    background-color: #efefef !important;
}

.lrP140 {
    padding: 0px 50px 0px 50px;
}

@media(max-width:1025px) {
    .bgFabric,
    .bgYarns,
    .bgFibres {
        /*background-position: right;*/
        background-image: none;
    }
    .lrP140 {
        padding: 0px 15px;
    }
}

.BgG {
    background-color: #008b47;
    height: 100%;
}

.BgGreen {
    background-color: #008b47;
}

.BorRGreyMBB {
    border-right: 2px solid #96989A;
}

.BorRNMBB {
    border-right: 0px solid #242424;
}

.BorRWMBW {
    border-right: 1px solid #fff;
}

.Blueheader2rem {
    font-size: 1.3rem;
    font-weight: 700;
    font-family: 'Red Hat Display', sans-serif;
    color: #00A7E5;
    text-align: center;
    letter-spacing: 2px;
    padding: 10px;
    line-height: 1rem;
    margin-bottom: 0px;
}

.topP60M20 {
    padding-top: 60px;
}

@media(max-width:700px) {
    .BorRGreyMBB {
        border-bottom: 2px solid #96989A;
        padding-bottom: 30px;
        border-right: 0px solid #96989A;
    }
}

@media(max-width:1025px) {
    .Blueheader2rem {
        line-height: 1.5rem;
    }
    .BorRNMBB {
        /*border-bottom: 1px solid #242424;*/
        /*padding-bottom: 30px;*/
        border-right: 0px solid #242424;
    }
    .BorRWMBW {
        border-bottom: 1px solid #fff;
        padding-bottom: 30px;
        border-right: 0px solid #fff;
    }
    .bgFabric,
    .bgYarns {
        background-size: auto;
    }
    .bgFibres {
        background-size: auto;
        background-position: bottom;
    }
    .counter {
        padding: 15px 0;
    }
}

.BorBB {
    border-bottom: 1px solid #909090;
}

.BorBO2 {
    border-bottom: 2px solid #EEA92F;
    margin-bottom: 10px;
    padding-bottom: 10px;
}

.BorGrey1 {
    border: 1px solid #909090;
}

.BorBW {
    border-bottom: 1px solid #fff;
}

.BorBGThick5 {
    text-decoration: underline #008b47;
    text-decoration-thickness: 5px;
    text-underline-offset: 0em;
}

.BorBWThick5 {
    text-decoration: underline #fff;
    text-decoration-thickness: 5px;
    text-underline-offset: -0.1em;
}

.BorBGThick10 {
    text-decoration: underline #008b47;
    text-decoration-thickness: 10px;
    text-underline-offset: 0em;
}

.BorBO {
    border-bottom: 5px solid #EEA92F;
}

.BorBG {
    border-bottom: 5px solid #008b47;
}

.BorBW {
    border-bottom: 5px solid #fff;
}

.BorBBlue {
    border-bottom: 5px solid #00A7E5;
}

.h100vh {
    height: 100vh;
}

.h100vhMauto {
    height: 100vh;
}

/* AboutUs Page */

.maxheight300 {
    max-height: 300px;
}

@media(max-width:1025px) {
    .maxheight300 {
        max-height: 200px;
    }
    .h100vhMauto {
        height: auto !important;
    }
    .TopBannerheader {
        left: 25px !important;
    }
    .Bannerheader {
        margin-bottom: 20px !important;
    }
}

@media(max-width:700px) {
    .maxheight300 {
        max-height: 300px !important;
    }
    .Bannerheader {
        font-size: 3.0rem !important;
        margin-bottom: 20px !important;
        line-height: 3rem !important;
    }
    .TopBannerheader {
        font-size: 17px !important;
        bottom: 10px !important;
        left: 15px !important;
    }
}

.Bannerheader {
    font-size: 5rem;
    font-weight: 700;
    font-family: 'Playfair Display';
    color: #fff;
    margin-bottom: 3rem;
    text-align: left;
    font-style: italic;
    line-height: 3rem;
    text-transform: capitalize !important;
    letter-spacing: 0px;
}

.TopBannerheader {
    font-size: 20px;
    font-weight: 700;
    font-family: 'Red Hat Display', sans-serif;
    margin-bottom: 0;
    text-align: left;
    line-height: 40px;
    bottom: 40px;
    left: 60px;
    position: absolute;
    text-transform: uppercase;
    letter-spacing: 3px;
}

.TopBannerheaderM {
    font-size: 20px;
    font-weight: 700;
    font-family: 'Red Hat Display', sans-serif;
    margin-bottom: 0;
    text-align: left;
    line-height: 25px;
    text-transform: uppercase;
    letter-spacing: 3px;
}

.AboutUnderline {
    text-decoration: underline #494949;
    text-decoration-thickness: 1px;
    text-underline-offset: 0.4em;
    line-height: 2.5rem;
    font-size: 1.5rem;
    text-align: left;
}

.bottom-left-title {
    font-size: 2.5rem;
    font-weight: 500;
    font-family: 'Red Hat Display', sans-serif;
    color: #fff;
    text-align: left;
    line-height: 3rem;
}

.bottom-left-subtxt {
    position: absolute;
    bottom: 40px;
    left: 40px;
    width: 70%;
    font-size: 18px;
    font-weight: 400;
    font-family: 'Red Hat Display', sans-serif;
    color: #fff;
    text-align: left;
    line-height: 25px;
}

@media(max-width:1025px) {
    .AboutUnderline {
        font-size: 1.4rem;
    }
}

.AboutBody {
    font-size: 17px;
    font-weight: 400;
    font-family: 'Red Hat Display', sans-serif;
    color: #000;
    margin-bottom: 0;
    text-align: left;
}

.col-5th,
.col-sm-5th,
.col-md-5th,
.col-lg-5th,
.col-xl-5th {
    position: relative;
    width: 100%;
    min-height: 1px;
    text-align: center;
}

.divimg {
    width: 140px;
    height: 140px;
}

.BgOrangeRound {
    background-color: #EEA92F !important;
}

.col-5th {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 20%;
    flex: 0 0 20%;
    max-width: 20%;
}

@media (max-width: 540px) {
    .col-sm-5th {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 50% !important;
        flex: 0 0 50% !important;
        max-width: 50% !important;
    }
}

@media (min-width: 720px) {
    .col-md-5th {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 33.33%;
        flex: 0 0 33.33%;
        max-width: 33.33%;
    }
}

@media (min-width: 960px) {
    .col-lg-5th {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 20%;
        flex: 0 0 20%;
        max-width: 20%;
    }
}

@media (min-width: 1140px) {
    .col-xl-5th {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 20%;
        max-width: 20%;
    }
}

.Smallcurly {
    text-align: left;
    font-style: italic;
    font-weight: bold;
    font-size: 20px;
    font-family: 'Playfair Display', serif;
}

.BgYarnGrey {
    background-color: #d3d2ba;
    height: 100%;
}

.BgYarnGreytog {
    background-color: #d3d2ba;
    height: 100%;
}

.BgYarnOrange {
    background-color: #efd2b2;
    height: 100%;
}

.BgYarnOrangetog {
    background-color: #efd2b2;
    height: 100%;
}

.BgYarnPinktog {
    background-color: #d7ecd9;
    height: 100%;
}

.BgYarnPink {
    background-color: #d7ecd9;
    height: 100%;
}

.BgFabricOrangetog,
.BgFabricOrange {
    background-color: #ded9b4;
    height: 100%;
}

.BgFabricPurpletog,
.BgFabricPurple {
    background-color: #ffd6a3;
    height: 100%;
}

.BgFiberOrange,
.BgFiberOrangetog {
    background-color: #f7d9d7;
    height: 100%;
}

.BgSpecialFabric,
.BgSpecialFabrictog {
    background-color: #c3e3e1;
    height: 100%;
}

.BgYarnPurple {
    background-color: #f1dbdb;
    height: 100%;
}

.BgYarnPurpletog {
    background-color: #f1dbdb;
    height: 100%;
}

.leftP15M30 {
    padding-left: 15px;
}

.topP10M15 {
    padding-top: 10px;
}

.bottomP5M15 {
    padding-bottom: 5px;
}

.GreigeBtn {
    background-color: rgba(255, 255, 0, 0) !important;
}

.leftP10M0 {
    padding-left: 10px;
}

@media(max-width:1025px) {
    .leftP10M0 {
        padding-left: 0px;
    }
    .bottomP5M15 {
        padding-bottom: 15px !important;
    }
    .topP10M15 {
        padding-top: 15px !important;
    }
    .leftP15M30 {
        padding-left: 30px !important;
    }
    /*.BgYarnGrey, .BgYarnOrange, .BgYarnPink, .BgYarnPurple {
        height: 0%;
    }*/
    .InnerBor:before {
        right: 35px;
        left: 35px;
        bottom: 50px;
    }
    .InnerBorBlank:before {
        bottom: 20px;
    }
    .bottom-leftPlus {
        position: relative;
        top: -90px;
        left: 30px;
        color: #fff;
        z-index: 2;
        cursor: pointer !important;
    }
}

@media(max-width:700px) {
    .BgYarnGrey {
        min-height: 370px;
        max-height: 370px;
        background-color: rgba(211, 210, 186, 0.70);
    }
    .BgYarnOrange {
        min-height: 370px;
        max-height: 370px;
        background-color: rgba(239, 210, 178, 0.70);
    }
    .BgYarnPink {
        min-height: 370px;
        max-height: 370px;
        background-color: rgba(215, 236, 217, 0.70);
    }
    .BgYarnPurple {
        min-height: 370px;
        max-height: 370px;
        background-color: rgba(241, 219, 219, 0.80);
    }
    .BgFabricOrange {
        min-height: 370px;
        max-height: 370px;
        background-color: rgba(222, 217, 180, 0.80);
    }
    .BgFabricPurple {
        min-height: 370px;
        max-height: 370px;
        background-color: rgba(255, 214, 163, 0.80);
    }
    .BgFiberOrange {
        min-height: 370px;
        max-height: 370px;
        background-color: rgba(247, 217, 215, 0.80);
    }
    .BgSpecialFabric {
        min-height: 370px;
        max-height: 370px;
        background-color: rgba(192, 227, 225, 0.80);
    }
    .BgWeaveFabricC {
        min-height: 370px;
        max-height: 370px;
        background-color: rgba(204, 216, 219, 0.80) !important;
    }
    .BgYarnFabricC {
        min-height: 370px;
        max-height: 370px;
        background-color: rgba(199, 212, 237, 0.80) !important;
    }
    .InnerBor:before {
        bottom: 80px !important;
    }
    .col-sm-6 {
        -ms-flex: 0 0 50%;
        flex: 0 0 50%;
        max-width: 50%;
    }
}

@media(max-width:400px) {
    /*.BgYarnOrange {
        height: 102.5% !important;
    }
    .BgYarnGrey {
        height: 125% !important;
        
    }*/
}

.row-flex {
    display: flex;
    flex-wrap: wrap;
}

ul.dashed {
    list-style-type: none;
}

ul.dashed>li:before {
    content: '\2014';
    position: absolute;
    margin-left: -20px;
}

.BgGreigeYarns {
    background-image: url('../images/Businesses/Yarns/Greige-Yarns.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 350px;
}

.BgSpecialtyYarns {
    background-image: url('../images/Businesses/Yarns/Speciality.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 350px;
}

.BgSpecialtyYarns_Bus {
    background-image: url('../images/Businesses/Yarns/Speciality.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 350px;
}

.BgDyedYarns {
    background-image: url('../images/Businesses/Yarns/Dyed.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 350px;
}

.BgAcrylicYarns {
    background-image: url('../images/Businesses/Yarns/Acrylic.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 350px;
}

.BgReno {
    background-image: url('../images/Businesses/Yarns/ren.png');
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 350px;
}

.BgYarnMap {
    background-image: url('../images/Businesses/Yarns/Map-Background.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}

.BgPieceFabricC {
    background-color: #A48E6B;
    height: 100%;
}

.BgPieceFabric {
    background-image: url('../images/Businesses/Fabrics/Piece.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 350px;
}

.BgAcrylicProduct {
    background-image: url('../images/Businesses/Acrylic/products.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}

.BgYarnFabricC {
    background-color: #c7d4ed;
    height: 100%;
}

.BgYarnFabric {
    background-image: url('../images/Businesses/Fabrics/Yarn.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 350px;
}

.BgPrintFabricC {
    background-color: #ffd6a3;
    height: 100%;
}

.BgPrintFabric {
    background-image: url('../images/Businesses/Fabrics/Prints.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 350px;
}

.BgFiberFabricC {
    background-color: #9B999E;
    height: 100%;
}

.BgFiberFabric {
    background-image: url('../images/Businesses/Fabrics/Fiber.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 350px;
}

.BgWeaveFabricC {
    background-color: #ccd8db;
    height: 100%;
}

.BgWeaveFabric {
    background-image: url('../images/Businesses/Fabrics/Weave.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 350px;
}

.BgSpecialityFabricC {
    background-color: #AbA885;
    height: 100%;
}

.BgSpecialityFabric {
    background-image: url('../images/Businesses/Fabrics/Speciality.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 350px;
}

.BgProductSteelC {
    background-color: #bdbfc3;
    height: 100%;
}

.BgProductSteel {
    background-image: url('../images/Businesses/Steel/Iron.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 350px;
}

.BgIconGrey {
    background-color: rgba(255, 255, 255, 0) !important;
    border: 1px solid #000;
}

/* Bhagyesh CSS Code */

.BgGrey {
    background-color: #bbc5ae;
    height: 100%;
}

.BgLightPink {
    background-color: #d7beb0;
    height: 100%;
}

.BgLightBlue {
    background-color: #B3DBD9;
    height: 100%;
}

.BgLightOrange {
    background-color: #e9d8a0;
    height: 100%;
}

.BgClassicFormalShirts {
    background-image: url('../images/Businesses/Garments/classic-formal-shirts.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 350px;
}

.BgOverDyedShirts {
    background-image: url('../images/Businesses/Garments/over-dyed-shirts.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 350px;
}

.BgWashesRange {
    background-image: url('../images/Businesses/Garments/washes-range.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 275px;
}

.BgProductRange {
    background-image: url('../images/Businesses/Garments/product-range.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 350px;
}

.BgAcrylicPreferredC {
    background-color: #cae6f7;
    height: 100%;
}

.BgAcrylicPreferred {
    background-image: url('../images/Businesses/Acrylic/fiber.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 350px;
}

.Acrylic>th {
    font-size: xx-small;
}

.Acrylic>.table td,
.table th {
    padding: .45rem !important;
    vertical-align: middle;
    border-top: 1px solid #242424 !important;
    border-bottom: 1px solid #242424 !important;
    font-size: small;
}

/* Bhagyesh CSS Code */

.BgWhite {
    background-color: #ffffff;
}

.BgSustainabilityLightOrange {
    background-color: #e7990e;
    height: 100%;
}

.green3rem {
    font-size: 3rem;
}

.green2rem {
    font-size: 1.8rem;
    font-weight: 500;
    font-family: 'Red Hat Display', sans-serif;
    color: #008B47;
    margin-bottom: 0;
    text-align: left;
    line-height: 2.5rem;
    letter-spacing: 6px;
}

.iconcontainerSustainability {
    position: relative;
    text-align: center;
    color: white;
    min-height: 430px;
    margin: 15px;
}

.top-leftnumSustainability {
    position: absolute;
    top: -40px;
    left: -15px;
    z-index: 9;
}

/* Bhagyesh CSS Code- Environment*/

.BgBlue {
    background-color: #00A7E5 !important;
    height: 100%;
}

.BgOrange {
    background-color: #EEA92F !important;
    height: 100%;
}

.ColorOrange {
    color: #EEA92F !important;
}

.divimgBlue {
    width: 140px;
    height: 140px;
}

.Bannerheader-right {
    font-size: 4rem;
    font-weight: 700;
    font-family: 'Playfair Display';
    color: #008b47;
    margin-bottom: 0;
    text-align: left;
    font-style: italic;
    line-height: 5rem;
    text-transform: capitalize !important;
    letter-spacing: 0px;
    padding: 0px 0px;
}

.TopBannerheader-right {
    font-size: 20px;
    font-weight: 700;
    font-family: 'Red Hat Display', sans-serif;
    margin-bottom: 0;
    text-align: right;
    line-height: 40px;
    bottom: 40px;
    right: 18%;
    position: absolute;
    text-transform: uppercase;
    letter-spacing: 3px;
    color: black;
}

.BannerheaderRight {
    font-size: 3rem;
    font-weight: 700;
    font-family: 'Playfair Display' !important;
    color: #008b47 !important;
    margin-bottom: 0;
    text-align: left;
    font-style: italic;
    line-height: 5rem;
    letter-spacing: 0px;
    position: relative;
}

/* Bhagyesh CSS Code- Social*/

.Bannerheader-rightOrange {
    font-size: 4rem;
    font-weight: 700;
    font-family: 'Playfair Display';
    color: #EEA92F;
    margin-bottom: 0;
    text-align: left;
    font-style: italic;
    line-height: 5rem;
    text-transform: capitalize !important;
    letter-spacing: 0px;
    padding: 0px 0px;
}

.BannerheaderRightOrange {
    font-size: 3rem;
    font-weight: 700;
    font-family: 'Playfair Display' !important;
    color: #EEA92F !important;
    margin-bottom: 0;
    text-align: left;
    font-style: italic;
    line-height: 5rem;
    letter-spacing: 0px;
    position: relative;
}

.Orangeheader2rem {
    font-size: 1rem;
    font-weight: 700;
    font-family: 'Red Hat Display', sans-serif;
    color: #EEA92F;
    margin-bottom: 0;
    text-align: left;
    line-height: 50px;
}

.whiteBack {
    min-height: 50px !important;
}

.SubtextBody {
    font-size: 15px;
    font-weight: 350;
    font-family: 'Red Hat Display', sans-serif;
    color: #000;
    margin-bottom: 0;
    text-align: left;
}

/* Bhagyesh CSS Code- Economy*/

.BgBlue {
    background-color: #00A7E5 !important;
    height: 100%;
}

.Bannerheader-rightBlue {
    font-size: 4rem;
    font-weight: 700;
    font-family: 'Playfair Display';
    color: #00A7E5;
    margin-bottom: 0;
    text-align: left;
    font-style: italic;
    line-height: 5rem;
    text-transform: capitalize !important;
    letter-spacing: 0px;
    padding: 0px 0px;
}

.bottom-left-subtxtForSustainabilityEconomic {
    position: absolute;
    bottom: 40px;
    left: 40px;
    width: 80%;
    font-size: 18px;
    font-weight: 600;
    font-family: 'Red Hat Display', sans-serif;
    color: #fff;
    text-align: left;
    line-height: 25px;
}

/*Bhagyesh Code*/

/* 20-09-2021 */

[class*=collapsible] {
    box-sizing: border-box;
    margin: 0 0 50px;
    padding: 0;
    position: relative;
    width: 100%;
}

[class*=collapsible]::after {
    clear: both;
    display: table;
}

.collapsible-title {
    border-bottom: 1px solid #dce0e5;
    cursor: pointer;
    margin: 0;
    padding: 18px;
    width: 100%;
}

/* .collapsible-title.is-active, .collapsible-title:hover { */

/* background-color: #669999; */

/* } */

.collapsible-title.is-active+.collapsible-content {
    display: block;
}

@media screen and (min-width: 960px) {
    .collapsible-tabs-horizontal .collapsible-title,
    .collapsible-tabs-vertical .collapsible-title {
        height: 70px;
        line-height: 70px;
        padding: 0;
        text-align: center;
    }
    .collapsible-tabs-horizontal .collapsible-title {
        float: left;
    }
    .collapsible-tabs-horizontal .collapsible-title:first-child:nth-last-child(1),
    .collapsible-tabs-horizontal .collapsible-title:first-child:nth-last-child(1)~.collapsible-title {
        width: 200%;
    }
    .collapsible-tabs-horizontal .collapsible-title:first-child:nth-last-child(2),
    .collapsible-tabs-horizontal .collapsible-title:first-child:nth-last-child(2)~.collapsible-title {
        width: 100%;
    }
    .collapsible-tabs-horizontal .collapsible-title:first-child:nth-last-child(3),
    .collapsible-tabs-horizontal .collapsible-title:first-child:nth-last-child(3)~.collapsible-title {
        width: 66.6666666667%;
    }
    .collapsible-tabs-horizontal .collapsible-title:first-child:nth-last-child(4),
    .collapsible-tabs-horizontal .collapsible-title:first-child:nth-last-child(4)~.collapsible-title {
        width: 50%;
    }
    .collapsible-tabs-horizontal .collapsible-title:first-child:nth-last-child(5),
    .collapsible-tabs-horizontal .collapsible-title:first-child:nth-last-child(5)~.collapsible-title {
        width: 40%;
    }
    .collapsible-tabs-horizontal .collapsible-title:first-child:nth-last-child(6),
    .collapsible-tabs-horizontal .collapsible-title:first-child:nth-last-child(6)~.collapsible-title {
        width: 33.3333333333%;
    }
    .collapsible-tabs-horizontal .collapsible-title:first-child:nth-last-child(7),
    .collapsible-tabs-horizontal .collapsible-title:first-child:nth-last-child(7)~.collapsible-title {
        width: 28.5714285714%;
    }
    .collapsible-tabs-horizontal .collapsible-title:first-child:nth-last-child(8),
    .collapsible-tabs-horizontal .collapsible-title:first-child:nth-last-child(8)~.collapsible-title {
        width: 25%;
    }
    .collapsible-tabs-horizontal .collapsible-title:first-child:nth-last-child(9),
    .collapsible-tabs-horizontal .collapsible-title:first-child:nth-last-child(9)~.collapsible-title {
        width: 22.2222222222%;
    }
    .collapsible-tabs-horizontal .collapsible-title:first-child:nth-last-child(10),
    .collapsible-tabs-horizontal .collapsible-title:first-child:nth-last-child(10)~.collapsible-title {
        width: 20%;
    }
    .collapsible-tabs-vertical .collapsible-title {
        border: 0;
        border-right: 1px solid #dce0e5;
        width: 20%;
    }
    .no-js .collapsible-title {
        cursor: auto;
        height: auto;
        line-height: 1.5em;
        padding: 0;
        text-align: left;
        width: 100% !important;
    }
    .no-js .collapsible-title.is-active,
    .no-js .collapsible-title:hover {
        background: initial;
    }
}

.collapsible-content {
    background: #f5f6f7;
    display: none;
    margin: 0;
    padding: 1px, 15px, 15px, 15px;
    width: 100%;
}

@media screen and (min-width: 960px) {
    .collapsible-tabs-horizontal .collapsible-content {
        float: right;
        margin: 70px 0 0 -100%;
    }
    .collapsible-tabs-vertical .collapsible-content {
        position: absolute;
        top: 0;
        left: 20%;
        width: calc(100% - 20%);
    }
    .no-js .collapsible-content {
        background: initial;
        display: block;
        float: none;
        margin: 0;
        padding: 0;
        position: relative;
        top: auto;
        left: auto;
        width: 100%;
    }
}

/* tab control */

.tabs {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    background: #efefef;
    box-shadow: 0 48px 80px -32px rgba(0, 0, 0, 0.25);
}

.input {
    position: absolute;
    opacity: 0;
}

.label {
    width: 100%;
    padding: 20px 0px;
    background: #e5e5e5;
    cursor: pointer;
    font-weight: bold;
    font-size: 18px;
    color: #7f7f7f;
    transition: background 0.1s, color 0.1s;
    margin-bottom: 0rem !important;
    border: 1px solid #ffffff;
}



.label:active {
    background: #ccc;
}

.input:focus+.label {
    z-index: 1;
}

.input:checked+.label {
    background: #fff;
    color: #000;
}

.panel {
    display: none;
    padding: 20px 30px 30px;
    background: #fff;
}

@media (min-width: 600px) {
    .label {
        width: 20%;
    }
    .panel {
        order: 99;
    }
}

.input:checked+.label+.panel {
    display: block;
}

/* END  tab control */

.fontWhite {
    color: #ffffff;
}

.FontWeight400 {
    font-weight: 400 !important;
}

.FontWeight500 {
    font-weight: 500 !important;
}

.FontWeight600 {
    font-weight: 600 !important;
}

.bgAnnual {
    background-color: #669999
}

.bgLitAnnual {
    background-color: #B5CECE
}

.bgSnap {
    background-color: #56698F
}

.bglitSnap {
    background-color: #BDC5D3
}

.bgQuarterly {
    background-color: #969375
}

.bglitQuarterly {
    background-color: #D3D1C3
}

.bgCredit {
    background-color: #C79993
}

.bglitCredit {
    background-color: #E5CECC
}

.borderAnnual {
    border: 1px solid #669999;
}

.borderSnap {
    border: 1px solid #56698F;
}

.borderQuarterly {
    border: 1px solid #969375;
}

.borderCredit {
    border: 1px solid #C79993;
}

.bgMedia {
    background-color: #C9E0DE;
}

.lineHeight28px {
    line-height: 28px;
}

.lineHeight23px {
    line-height: 23px;
}

/* 21-09-2021 */

.bgComInfo {
    background-color: #d3d2ba;
}

.bgCompli {
    background-color: #79A6CC;
}

.bginvHelp {
    background-color: #CCAEB1;
}

.bgVoting {
    background-color: #9B999E;
}

.bgScheme {
    background-color: #A48E6B;
}

.borBgrey1OM0 {
    border-bottom: 1px solid #909090;
}

@media (max-width: 700px) {
    .BgWashesRange {
        background-image: url('../images/Businesses/Garments/washes-rangeM.jpg');
        background-size: contain;
        background-repeat: no-repeat;
        min-height: 240px;
    }
    .top-leftnum {
        left: 10px;
    }
    .top-icon-left {
        left: 20px;
    }
    .borBgrey1OM0 {
        border-bottom: 0px solid #909090;
    }
    .bottom-centered {
        font-size: 1.4rem !important;
    }
}

.borBgrey1 {
    border-bottom: 1px solid #909090;
}

.width15px {
    width: 15px;
}

.bglitGrn {
    background-color: #C0DAC7
}

.btnAdmin {
    min-width: 100px;
}

/*Human Pontatial */

.bgHumanBack {
    background-image: url(../images/About-us/Human_Potential/bg_icon.png);
    background-position: top left;
    background-repeat: no-repeat;
    background-size: contain;
}

.BorTB {
    border-top: 1px solid #909090;
}

.BorPink {
    border: 3px solid #E6D4D5;
}

.BgHumanlitPink {
    background-color: #E6D4D5;
    height: 100%;
}

.BgHumanlitGreen {
    background-color: #D3E6B8;
    height: 100%;
}

.width80per {
    width: 75%;
}

@media(max-width:1025px) {
    .divimg {
        width: 120px;
        height: 120px;
    }
    .width80per {
        width: 100%;
    }
}

@media(max-width:700px) {
    .width80per {
        width: 35%;
    }
}
.carousel-control-next-icon, .carousel-control-prev-icon {
    display: inline-block;
    width: 26px !important;
    height: 26px !important;
    background: no-repeat 50% / 100% 100%;
    background-color: #5caf86 !important;
    padding: 23px;
    border-radius: 50px;
    font-size: 16px;
}
.Iwidth20per{
    height: 294px;
    width: 294px;
}
.about-section{
    padding-top: 100px;
    padding-bottom: 100px;
    height: 70vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.trigger{
    width: 70%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.reveal-text{
    font-family: "Title";
    font-size: 3rem;
    font-weight: 600;
    color: #5caf86;
    padding: 30px 50px;
}

#smooth-wrapper {
    overflow: hidden;
}
#smooth-content {
    position: relative;
}
.laptop-nav{
    font-weight: 800;
    font-family: "Title";
    line-height: 150px !important;
}

.wrapper,
.content {
  position: relative;
  width: 100%;
  z-index: 1;
}

.content {
  overflow-x: hidden;
}

.content .section {
  width: 100%;
  height: 100vh;
}

.content .section.hero {
  background-image: url(../images/bharat-energreen-banner-1.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.image-container {
  width: 100%;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 2;
  perspective: 500px;
  overflow: hidden;
}

.image-container .upper-layer {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center center;
}

#sectionPin {
    height: 100vh;
    overflow: hidden;
    display: flex;
    left: 0;
    background: var(--text-color);
    color: var(--bg-color);
  }
  
  .pin-wrap {
    height: 100vh;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 50px 10vw;
  }
  .pin-wrap > * {
    min-width: 60vw;
    padding: 0 5vw;
  }
  
  .card-title {
    font-size: 2rem;
    max-width: 400px;
  }
  .pin-wrap img{
    height: 80vh;
    width: auto;
    object-fit: cover;
  }
  
  .third-section{
    width: 100%;
  }
  .cont{
    height: 100%;
  }
  .slides{
    display: flex;
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    gap: 80px;
  }
  .slide-now{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
  }

  @keyframes rotate {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
  
  @keyframes rotate-reverse {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(-360deg);
    }
  }
  .rotate-star img {
    animation: rotate 5s linear infinite;
  }
  
  .rotate-star-revert img {
    animation: rotate-reverse 5s linear infinite;
  }
  @keyframes flap {
    0%, 100% {
      transform: translateY(0) rotate(0deg);
    }
    50% {
      transform: translateY(-10px) rotate(10deg);
    }
  }
  
  @keyframes flap-reverse {
    0%, 100% {
      transform: translateY(0) rotate(0deg);
    }
    50% {
      transform: translateY(-10px) rotate(-10deg);
    }
  }
  
  /* Apply the flying animation to the bees */
  .fly-bee img {
    animation: flap 1s ease-in-out infinite;
    rotate: 90deg;
  }
  
  .fly-bee-reverse img {
    animation: flap-reverse 1s ease-in-out infinite;
    rotate: -90deg;
  }
  #greenheader {
  
    position: relative;
    overflow: hidden;
  }
  #bee {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    animation: fly 5s infinite linear;
  }
  @keyframes fly {
    0% { left: 0; }
    100% { left: 100%; }
  }